html {
    font-family: 'Roboto', sans-serif;
}

 @media (max-width: 700px) {
     header li a {
         flex-direction: column;
     }    
 }

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: transparent;
    color: white;
    padding: 20px 0px;
    width: 100%;
}

#menu {
    width: 1200px;
    height: 32px;
}

#menu a:hover{
    color: #1DDBA2;
    filter: drop-shadow(0 0 2px #1DDBA2);
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
    align-items: center;
}

.twitch {
    position: relative;
    left: 30px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
}

.youtube {
    position: relative;
    left: 30px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 25px;
}

.gta5 {
    position: relative;
    left: 30px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 25px;
}

.Dorado {   
    position:relative;
    object-fit: fill;
    max-width: 30px;
    left: 20px;
    max-height: 30px;
}

video {
    position: fixed;
    max-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#titulo1 {
    text-align: center;
    position: relative;
    color: #fff;
}

.texto1 {
    margin: 12px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
}



#titulo2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.imagen1 {
    background-image: url(/Kaldninecs/html/Kaldninecs.jpeg);
}

.imagen-portada {
    transition: box-shadow 0.3s ease;
    width: 740px;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;    
    padding: 1px 10px;
    cursor: pointer;
}

#parrafo {
    text-align: right;
}

.imagen-portada:hover {
    box-shadow: 0 0.1rem 0.4rem #000000;   
}

.python-title {
    color: #fff;
    text-align: center;
}

.python-text {
    border-radius: 12px;
    background-color: #fff;
    margin: 12px;
    padding: 12px;
}

footer {
    background-color: transparent;
    padding: 1rem;
    color: #fff;    
}

